parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 12
			path: config/lunar-fortis.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 6
			path: config/services.php

		-
			message: '#^Cannot access property \$fortis_id on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Filament/Resources/TerminalResource/Pages/ViewTerminal.php

		-
			message: '#^Cannot call method authorizePayment\(\) on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Filament/Resources/TerminalResource/Pages/ViewTerminal.php

		-
			message: '#^Cannot call method isReadyForPayments\(\) on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Filament/Resources/TerminalResource/Pages/ViewTerminal.php

		-
			message: '#^Cannot call method processCompletePayment\(\) on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Filament/Resources/TerminalResource/Pages/ViewTerminal.php

		-
			message: '#^Method Hyrograsper\\LunarFortis\\Livewire\\PaymentForm\:\:getBillingProperty\(\) should return Lunar\\Models\\OrderAddress\|null but returns Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Livewire/PaymentForm.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$iso3\.$#'
			identifier: property.notFound
			count: 1
			path: src/LunarFortis.php

		-
			message: '#^Access to an undefined property Lunar\\Models\\Contracts\\Transaction\:\:\$order\.$#'
			identifier: property.notFound
			count: 2
			path: src/LunarFortis.php

		-
			message: '#^Access to an undefined property Lunar\\Models\\Contracts\\Transaction\:\:\$reference\.$#'
			identifier: property.notFound
			count: 2
			path: src/LunarFortis.php

		-
			message: '#^Cannot access property \$value on int\.$#'
			identifier: property.nonObject
			count: 1
			path: src/LunarFortis.php

		-
			message: '#^Instanceof between Carbon\\Carbon and Carbon\\Carbon will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Models/Terminal.php

		-
			message: '#^Method Hyrograsper\\LunarFortis\\Models\\Terminal\:\:syncSingleFromFortis\(\) should return static\(Hyrograsper\\LunarFortis\\Models\\Terminal\)\|null but returns Hyrograsper\\LunarFortis\\Models\\Terminal\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Terminal.php

		-
			message: '#^Access to an undefined property Lunar\\Models\\Contracts\\Cart\:\:\$completedOrder\.$#'
			identifier: property.notFound
			count: 1
			path: src/PaymentTypes/FortisPaymentType.php

		-
			message: '#^Access to an undefined property Lunar\\Models\\Contracts\\Cart\:\:\$draftOrder\.$#'
			identifier: property.notFound
			count: 1
			path: src/PaymentTypes/FortisPaymentType.php

		-
			message: '#^Access to an undefined property Lunar\\Models\\Contracts\\Cart\:\:\$total\.$#'
			identifier: property.notFound
			count: 1
			path: src/PaymentTypes/FortisPaymentType.php

		-
			message: '#^Access to an undefined property Lunar\\Models\\Contracts\\Order\:\:\$id\.$#'
			identifier: property.notFound
			count: 3
			path: src/PaymentTypes/FortisPaymentType.php

		-
			message: '#^Access to an undefined property Lunar\\Models\\Contracts\\Order\:\:\$placed_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/PaymentTypes/FortisPaymentType.php

		-
			message: '#^Access to an undefined property Lunar\\Models\\Contracts\\Order\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: src/PaymentTypes/FortisPaymentType.php

		-
			message: '#^Call to an undefined method Lunar\\Models\\Contracts\\Order\:\:save\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/PaymentTypes/FortisPaymentType.php

		-
			message: '#^Access to an undefined property Lunar\\Models\\Contracts\\Transaction\:\:\$id\.$#'
			identifier: property.notFound
			count: 3
			path: src/PaymentTypes/FortisPaymentType.php

		-
			message: '#^Access to an undefined property Lunar\\Models\\Contracts\\Transaction\:\:\$order\.$#'
			identifier: property.notFound
			count: 3
			path: src/PaymentTypes/FortisPaymentType.php

		-
			message: '#^Cannot access property \$value on int\.$#'
			identifier: property.nonObject
			count: 1
			path: src/PaymentTypes/FortisPaymentType.php

		-
			message: '#^Strict comparison using \!\=\= between mixed and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/PaymentTypes/FortisPaymentType.php

		-
			message: '#^Access to an undefined property Lunar\\Models\\Contracts\\Cart\:\:\$completedOrder\.$#'
			identifier: property.notFound
			count: 1
			path: src/PaymentTypes/FortisTerminalPaymentType.php

		-
			message: '#^Access to an undefined property Lunar\\Models\\Contracts\\Cart\:\:\$draftOrder\.$#'
			identifier: property.notFound
			count: 1
			path: src/PaymentTypes/FortisTerminalPaymentType.php

		-
			message: '#^Access to an undefined property Lunar\\Models\\Contracts\\Cart\:\:\$total\.$#'
			identifier: property.notFound
			count: 4
			path: src/PaymentTypes/FortisTerminalPaymentType.php

		-
			message: '#^Access to an undefined property Lunar\\Models\\Contracts\\Order\:\:\$id\.$#'
			identifier: property.notFound
			count: 6
			path: src/PaymentTypes/FortisTerminalPaymentType.php

		-
			message: '#^Access to an undefined property Lunar\\Models\\Contracts\\Order\:\:\$placed_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/PaymentTypes/FortisTerminalPaymentType.php

		-
			message: '#^Access to an undefined property Lunar\\Models\\Contracts\\Order\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: src/PaymentTypes/FortisTerminalPaymentType.php

		-
			message: '#^Call to an undefined method Lunar\\Models\\Contracts\\Order\:\:save\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/PaymentTypes/FortisTerminalPaymentType.php

		-
			message: '#^Access to an undefined property Lunar\\Models\\Contracts\\Transaction\:\:\$id\.$#'
			identifier: property.notFound
			count: 3
			path: src/PaymentTypes/FortisTerminalPaymentType.php

		-
			message: '#^Access to an undefined property Lunar\\Models\\Contracts\\Transaction\:\:\$meta\.$#'
			identifier: property.notFound
			count: 1
			path: src/PaymentTypes/FortisTerminalPaymentType.php

		-
			message: '#^Access to an undefined property Lunar\\Models\\Contracts\\Transaction\:\:\$order\.$#'
			identifier: property.notFound
			count: 3
			path: src/PaymentTypes/FortisTerminalPaymentType.php

		-
			message: '#^Cannot access property \$value on int\.$#'
			identifier: property.nonObject
			count: 1
			path: src/PaymentTypes/FortisTerminalPaymentType.php

