<?php

declare(strict_types=1);

/*
 * FortisAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace FortisAPILib\Controllers;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use FortisAPILib\Exceptions\ApiException;
use FortisAPILib\Exceptions\Response401tokenException;
use FortisAPILib\Exceptions\Response412Exception;
use FortisAPILib\Models\ResponseApplePayValidateMerchant;
use FortisAPILib\Models\V1WalletProviderApplePayValidateMerchantRequest;

class ApplePayValidateMerchantController extends BaseController
{
    /**
     * Apple Pay Validate Merchant
     *
     * @param V1WalletProviderApplePayValidateMerchantRequest $body
     *
     * @return ResponseApplePayValidateMerchant Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function applePayValidateMerchant(
        V1WalletProviderApplePayValidateMerchantRequest $body
    ): ResponseApplePayValidateMerchant {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/v1/wallet-provider/apple-pay-validate-merchant'
        )
            ->auth(Auth::and('user-id', 'user-api-key', 'developer-id'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseApplePayValidateMerchant::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
